/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star: applies to everything! */

* {
	border: 1px solid lightgrey;
}

/*Descendant Selector: example gives a-tag inside li*/

li a {
	color: red;
}

/*Adjacent Selector: ul elements that come after an h4 */

h4 + ul {
	border: 4px solid red;
}


/*Attribute Selector: selecting off of any particular attribute
(here: href = google in a-tag) */

a[href="http://www.google.com"] {
	background: blue;
}

/*nth of type: styles odd-indexed list items specially*/

li:nth-of-type(odd){
	background: purple;
}
