.box {
    background: #9b59b6;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 20px;
}

.animated {
    transition-property: transform;
    transition-duration: 2s;
    /*transition-timing-function: linear;*/
    transition-timing-function: ease-in-out;
}

.box:hover {
    transform: translateX(100px);
}

/*.animated {*/
/*    transition-property: background, border-radius;*/
/*    transition-duration: 1s, 1s;*/
/*    transition-delay: 2s, 0.5s;*/
/*}*/

/*.box:hover {*/
/*    background: #e74c3c;*/
/*    transform-origin: top left;*/
/*    transform:scale(2);*/
    /*opacity: 0.5;*/
/*    border-radius: 50px;*/
/*}*/