<!--we're making a header and footer so we don't have to include this in all .ejs files in its entirety.-->

<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <link rel="stylesheet" href="/app.css">  <!-- note the '/' here for backing to the home directory -->
    </head>
    <body>