@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
    margin: 0;
    background: #ecf0f1;
}

.sidebar {
    display: flex;
    height: 90vh;
    width: 25vw;
    font-family: 'Raleway', sans-serif;
    background-color: #34495e;
    font-weight: 200;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    color: white;
    font-size: 16px;
}

.topsec {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 70px;
    justify-content: space-between;
}

.bottomsec {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    height: 45px;
    justify-content: space-between;
}